<div class="page-header">
  <%= render 'layouts/nuevo', msg: "Nuevo Concepto", path: new_concepto_path  ,x: Concepto%>

  <h1><i class="fa fa-money"></i> Conceptos</h1>
</div>

  <%=render "concepto", x: 0,y: "Asignaciones", z: "success"%>
  <%=render "concepto", x: 1,y: "Deducciones", z: "danger"%>
