<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dependencia.nombre.upcase %>
</p>
<div class="col-xs-12 actions"><br>
  <%= link_to raw('<i class="fa fa-pencil"></i> Editar'), edit_dependencia_path(@dependencia), class: "btn btn-success boton" %>
  <%= link_to raw('<i class="fa fa-arrow-circle-left"></i> Regresar'), dependencias_path, class: "btn btn-default boton" %>
</div>
