<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dependencia.nombre %>
</p>

<%= link_to 'Editar', edit_dependencia_path(@dependencia), class: "btn btn-default" %>
<%= link_to 'Regresar', dependencias_path, class: "btn btn-default" %>
