<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @dependencia.nombre %>
</p>

<%= link_to 'Edit', edit_dependencia_path(@dependencia) %> |
<%= link_to 'Back', dependencias_path %>
