<div class="page-header">

  <%= render 'layouts/nuevo', msg: "Nuevo cargo", path: new_cargo_path ,x: Cargo%>

  <h1>Cargos</h1>
</div>
<ul class="list-group">

  <li class="list-group-item text-muted" contenteditable="false">Busqueda</li>
  <li class="list-group-item ">

    <div class="input-group">
      <div class="input-group-btn">
        <button id="departamentos" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todos los departamentos
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class=" disabled">
            <a href="#" class="departamento" id="">Todos los departamentos</a>
          </li>
          <%@departamentos=Departamento.all

        @departamentos.each do |c|%>
          <%=  raw("<li><a href=\"#\" class=\"departamento\" id=\""+c.id.to_s+"\">"+c.nombre.capitalize+"</a></li>") %>
          <%end%>

        </ul>

      </div>
      <input type="text" class="form-control" placeholder="Buscar por nombre del cargo..." name="search" id="search" value="<%= params[:search]%>">
      <input type="text" id="departamento_search" value="" hidden="hidden">

      <span class="input-group-addon">
        <span id="search_icon" class="fa fa-search"></span>

      </span>
    </div>
  </li>
</ul>
<ul class="list-group">
  <li class="list-group-item text-muted" contenteditable="false">Lista de cargos</li>
  <div class="sort_paginate_ajax  text-center">
    <%= render 'cargo', p: @cargos %>
  </div>

</ul>
<script>
  var classes = ".sort_paginate_ajax th a, .sort_paginate_ajax .pagination a";
  var delay = (function () {
    var timer = 0;
    return function (callback, ms) {
      clearTimeout(timer);
      timer = setTimeout(callback, ms);
    };
  })();

  function loading() {
    $("#search_icon").attr("class", "fa fa-refresh fa-spin fa-fw")
  }
  function query() {
    loading();
    return "/cargos?page=1&search=" + $("#search").val() + "&departamento=" + $("#departamento_search").val();

  }
  $(function () {

    $(".departamento").click(function () {
      $(".departamento").parent().attr("class", "");
      $(this).parent().attr("class", "disabled")
      $("#departamentos").html($(this).html() + '<span class="caret"></span>');
      $("#departamento_search").val($(this).attr("id"));
      $.getScript(query());

      return false;
    });
    $("#search").keyup(function () {
      delay(function () {
        $.getScript(query());

        return false;
      }, 500);
    });
    $(classes).click(function () {
      $.getScript(this.href);
      return false;
    });
  });
</script>
