<p>
  <strong><%= 'nombre' %></strong>
  <%= @departamento.nombre %>

</p>

<%= link_to "Editar", edit_departamento_path(@departamento), class: "btn btn-default" %>
<%= link_to "Regresar", departamentos_path, class: "btn btn-default" %>
