<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo.nombre %>
</p>

<%= link_to 'Editar', edit_tipo_path(@tipo), class: "btn btn-default" %>
<%= link_to 'regresar', tipos_path, class: "btn btn-default"  %>
