<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @headquarter.nombre %>
</p>

<%= link_to 'Edit', edit_headquarter_path(@headquarter) %> |
<%= link_to 'Back', headquarters_path %>
