<div class="page-header">
    <%= render 'layouts/nuevo', msg: "Nuevo Concepto Personal", path: new_conceptopersonal_path,x: Conceptopersonal %>

    <h1>Conceptos Personales</h1>
</div>

<%=render "conceptopersonal", x: 0,y: "Asignaciones", z: "success"%>
<%=render "conceptopersonal", x: 1,y: "Deducciones", z: "danger"%>
