<div class="col-xs-12 actions"><br>
  <button type="submit" class="btn btn-primary boton">
    <i class="fa fa-save"></i>
    Guardar
  </button>

  <%= link_to raw('<i class="fa fa-arrow-circle-left"></i> Regresar'), p ,class: "btn btn-default btn-md boton"%>

</div>
